/* CSS for DogList */
.DogForm {
  font: 13px Verdana;
  background-image: url("https://i.pinimg.com/originals/93/3d/7f/933d7fb937868122f365540c2ce3f4aa.jpg");
  background-attachment: fixed;
  background-color: rgb(121, 160, 245);
}

.DogList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dogPost {
  flex-basis: 24%;
  margin: 2rem;
  padding: 1rem;
  width: 100px;
  border: 2px solid rgb(207, 250, 51);
  border-radius: 2rem;
  inline-size: 90px;
  background-color:#ff9f44;
  box-shadow: 0 0 40px black ;
}
.dog_url {

  min-height: 40%;
  width: 100%;
  border-radius:30px 30px 30px 30px;
  object-fit: cover;
  object-position: center;
}

