.DogListForm {
  background-image: url("");
  background-attachment: fixed;
  background-color: #184e;
}

.DogList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dogPost {
  flex-basis: 26%;
  margin: 1.5rem;
  padding: 1rem;
  width: 100px;
  border: 1px solid #d9ed92;
  border-radius: 1rem;
  inline-size: 100px;
  background-color: #52b69a;
  box-shadow: 0 0 10px rgb(218, 216, 216);
}
.dog_url {

  min-height: 50%;
  width: 100%;
  border-radius:120px 20px 120px 20px;
  object-fit: cover;
  object-position: center;
}

