.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: static;

}

.navbar__item {
  flex-basis: 50%;
  list-style-type: none;
  background-color: rgb(1, 67, 165);
}

.navbar__link {
  text-decoration: none;
  display: block;
  color: #f78902;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: impact;
  cursor: pointer;
}
.navbar__link:hover {
  font-size:105%;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}